<footer class="footer-main">
  <span class="copyright">
    {{ site.title }} © {{ "today" | date: '%Y' }}
  </span>
  <a
    class="icon-link"
    aria-label="atom feed"
    href="{{ '/feed.xml' | url }}">
    <svg class="icon icon-rss">
      <title>Atom Feed</title>
      <use xlink:href="#icon-rss"></use>
    </svg>
  </a>
</footer>