{%- assign images = site.picture.file | jpeg_width: site.picture.sizes -%}
{%- assign deafult_image = images | where: 'width', 268 -%}
<div class="topblock"></div>
<header class="header{% if page.url == '/' %} animated{% endif %} h-card">
  <span class="link">
    <img
      height="200"
      width="200"
      class="headshot u-photo"
      alt="{{ site.title }}"
      srcset="
    {%- for img in images -%}
      {{ img.srcset }}
      {%- unless forloop.last -%}
        ,
      {%- endunless -%}
    {%- endfor -%}
    "
    src="{{ deafult_image[0].url | url }}"
    sizes="(min-width: 800px) 268px, 200px">
  </span>
  <h1 class="title p-name">{%- include "tools/namesep", namesep-content: site.title -%}</h1>
  <h2 class="description p-note">{{ site.bio }}</h2>
  <a
    rel="me"
    class="u-url d-none"
    href="/"></a>
  {%- include "social-links" -%}
</header>