<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon/favicon-16x16.png' | relative_url }}">
<link rel="mask-icon" href="{{ '/assets/images/favicon/safari-pinned-tab.svg' | relative_url }}" color="#4f2f85">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | relative_url }}">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-square150x150logo" content="{{ '/assets/images/favicon/mstile-150x150.png' | relative_url }}" />
<meta name="theme-color" content="#84a9c6">