<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/images/favicon/favicon-16x16.png">
<link rel="mask-icon" href="{{ site.url }}/assets/images/favicon/safari-pinned-tab.svg" color="#4f2f85">
<link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-square150x150logo" content="{{ site.url }}/assets/images/favicon/mstile-150x150.png" />
<meta name="theme-color" content="#84a9c6">