<div class="topblock"></div>
<header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
        <a class="link" href="{{ site.url }}/about">
            <img height="200px" width="200px" class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
        </a>
        {% else %}
        <span class="link">
            <img height="200px" width="200px" class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
        </span>
        {% endif %}
    <h1 class="title">{%- include tools/namesep.html content=site.title  -%}</h1>
    <h2 class="description">{{ site.bio }}</h2>
    {% include social-links.html %}
</header>

{% include nav.html %}
