{%- capture headshot -%}

{%- endcapture -%}

<div class="topblock"></div>
<header class="header-home{% if page.url == '/' %} animated{% endif %} h-card">
    <span class="link">
        <img height="200px" width="200px" class="headshot u-photo" alt="{{ site.title }}"
        {%- if site.external-image -%}
        src="{{ site.picture }}"
        {%- elsif site.picture.first %} srcset="
            {%- for img in site.picture -%}
            {{ img.url | relative_url }} {{ img.size }},
            {%- endfor -%}
        " src="{{ site.picture.first.url | relative_url }}"
        sizes="(min-width: 800px) 268px, 200px"
        {%- else -%}
        src="{{ site.picture | relative_url }}"
        {%- endif -%} 
        />
    </span>
    <h1 class="title p-name">{%- include tools/namesep.html content=site.title -%}</h1>
    <h2 class="description p-note">{{ site.bio }}</h2>
    <img class="u-featured d-none" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN0Cq39DwAECgIVr5jsogAAAABJRU5ErkJggg=="> 
    <a rel="me" class="u-url d-none" href="/"></a>
    {% include social-links.html %}
</header>