{% if include.title %}
<h2>{{ include.title }}</h2>
{% endif %}
{% if include.description %}
<p class="thin">{{ include.description }}</p>
{% endif %}
<div class="{{ include.class | default: "projects" }}">
<section class="list">
    {%- for project in include.data -%}
    <div class="item{% if project.star %} star{% endif %}">
        <h3>
            <a class="title" href="
            {%- if project.url_is_pdf -%}
                {{ project.pdf }}
            {%- else -%}
                {{ project.url }}
            {%- endif -%}
            ">{{ project.title }}</a>
            {% if project.authors.size > 1 %}
                {%- assign coauthors = project.authors | where_exp: "author", "author.name != site.title" -%}
                (with 
                {%- for coauthor in coauthors -%}
                {%- if coauthor.url -%}
                    {{' '}}<a href="{{ coauthor.url }}" class="coauthor">{{ coauthor.name }}</a>
                {%- else -%}
                    {{' '}}{{ coauthor.name }}
                {%- endif -%}
                {%- unless forloop.last -%}
                    {{' '}}and
                {%- endunless -%}
                {%- endfor -%}
                )
            {% endif %}
        </h3>
        {%- if project.description -%}
        <p class="description">{{ project.description }}</p>
        {%- endif -%}
        
        {%- if project.github -%}
        <a class="icon-link" href="{{ project.github }}" target="_blank">
            <svg class="octicon octicon-github"><use xlink:href="#icon-github"></use></svg>
            Source
        </a>
        {%- endif -%}
        {%- if project.pdf -%}
        <a class="icon-link" href="{{ project.pdf }}">
            <svg class="octicon octicon-file"><use xlink:href="#icon-pdf"></use></svg>
            PDF
        </a>
        {%- endif -%}
        {%- if project.slides -%}
        <a class="icon-link" href="{{ project.slides }}">
            <svg class="octicon octicon-file"><use xlink:href="#icon-slides"></use></svg>
            Slides
        </a>
        {%- endif -%}
        {% if include.class == "papers" and project.content %}
        <div class="atoggle">
            <input type="checkbox" id="toggle" name="abstract-toggle" />
            <label for="toggle">Abstract</label>
            <div class = "abstract content">
                {{ project.content | markdownify }}
            </div>
        </div>
        {% endif %}
    </div>
    {%- endfor -%}
</section>
</div>