<div class="pagination">
    <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous
    {%- unless paginator.previous_page -%}
    {{ ' ' }}hidden
    {%- endunless -%}
    ">{% octicon arrow-left %}</a>

    <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    <a href="{{ site.url }}{{ paginator.next_page_path }}" class="next
    {%- unless paginator.next_page -%}
    {{ ' ' }}hidden
    {%- endunless -%}
    ">{% octicon arrow-right %}</a>
</div>
