{% if include.title %}
<h2>{{ include.title }}</h2>
{% endif %}
<div class="{{ include.class | default: "projects" }}">
<section class="list">
    {%- for project in include.data -%}
    <div class="item {%- if project.star -%}
        star
    {%- endif -%}">
        <a class="url" href="{{ project.url }}"></a>
        <h3 class="title">{{ project.title }}</h3>
        {% if project.github %}
        <a class="social-link" data-title="GitHub" href="{{ project.github }}" target="_blank">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
        {% endif %}
        {%- if project.description -%}
        <aside>{{ project.description }}</aside>
        {%- elsif project.date -%}
        <aside><time datetime="{{ project.date | date:"%d-%m-%Y" }}">{{ project.date | date: "%b %d %Y" }}</time></aside>
        {%- endif -%}
    </div>
    {%- endfor -%}
</section>
</div>