<div class="social-links">
    {% if site.facebook %}
        <a class="social-link" data-title="facebook.com/{{ site.facebook }}" href="//facebook.com/{{ site.facebook }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
        </a>
    {% endif %}

    {% if site.linkedin %}
    <a class="social-link" data-title="linkedin.com/in/{{ site.linkedin }}" href="//linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="me noopener noreferrer">
        <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
    </a>
    {% endif %}

    {% if site.google %}
    <a class="social-link" data-title="plus.google.com/+{{ site.google }}" href="//plus.google.com/+{{ site.google }}" target="_blank" rel="me noopener noreferrer">
        <svg class="icon icon-google"><use xlink:href="#icon-google"></use></svg>
    </a>
    {% endif %}

    {% if site.gscholar %}
    <a class="social-link" data-title="scholar.google.com/citations?user={{ site.gscholar }}" href="//scholar.google.com/citations?user={{ site.gscholar }}" target="_blank" rel="me noopener noreferrer">
        <svg class="icon icon-gscholar"><use xlink:href="#icon-gscholar"></use></svg>
    </a>
    {% endif %}

    {% if site.github %}
    <a class="social-link" data-title="github.com/{{ site.github }}" href="//github.com/{{ site.github }}" target="_blank" rel="me noopener noreferrer">
        <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
    </a>
    {% endif %}

    {% if site.twitter %}
        <a class="social-link" data-title="twitter.com/{{ site.twitter }}" href="//twitter.com/{{ site.twitter }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        </a>
    {% endif %}

    {%- for mst in site.mastodon -%}
    {% if mst.username and mst.instance %}
    <a class="social-link" data-title="{{ mst.username | escape }}@{{ mst.instance | escape}}" href="//{{ mst.instance | cgi_escape | escape}}/@{{mst.username}}" target="_blank" rel="me noopener noreferrer">
        <svg class="icon icon-mastodon"><use xlink:href="#icon-mastodon"></use></svg>
    </a>
    {% endif %}
    {%- endfor -%}

    {% if site.instagram %}
        <a class="social-link" data-title="instagram.com/{{ site.instagram }}" href="//instagram.com/{{ site.instagram }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
        </a>
    {% endif %}

    {% if site.pinterest %}
        <a class="social-link" data-title="pinterest.com/{{ site.pinterest }}" href="//pinterest.com/{{ site.pinterest }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg>
        </a>
    {% endif %}

    {% if site.youtube %}
        <a class="social-link" data-title="youtube.com/{{ site.youtube }}" href="//youtube.com/{{ site.youtube }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
        </a>
    {% endif %}

    {% if site.spotify %}
        <a class="social-link" data-title="open.spotify.com/user/{{ site.spotify }}" href="//open.spotify.com/user/{{ site.spotify }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg>
        </a>
    {% endif %}

    {% if site.lastfm %}
        <a class="social-link" data-title="last.fm/user/{{ site.lastfm }}" href="//last.fm/user/{{ site.lastfm }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-lastfm"><use xlink:href="#icon-lastfm"></use></svg>
        </a>
    {% endif %}

    {% if site.gitlab %}
        <a class="social-link" data-title="gitlab.com/{{ site.gitlab }}" href="//gitlab.com/{{ site.gitlab }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-gitlab"><use xlink:href="#icon-gitlab"></use></svg>
        </a>
    {% endif %}

    {% if site.stackoverflow %}
        <a class="social-link" data-title="stackoverflow.com/users/{{ site.stackoverflow }}" href="//stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-stackoverflow"><use xlink:href="#icon-stackoverflow"></use></svg>
        </a>
    {% endif %}

    {% if site.quora %}
        <a class="social-link" data-title="quora.com/profile/{{ site.quora }}" href="//www.quora.com/profile/{{ site.quora }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-quora"><use xlink:href="#icon-quora"></use></svg>
        </a>
    {% endif %}

    {% if site.reddit %}
        <a class="social-link" data-title="reddit.com/user/{{ site.reddit }}" href="//www.reddit.com/user/{{ site.reddit }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
        </a>
    {% endif %}

    {% if site.medium %}
        <a class="social-link" data-title="medium.com/@{{ site.medium }}" href="//medium.com/@{{ site.medium }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
        </a>
    {% endif %}

    {% if site.vimeo %}
        <a class="social-link" data-title="vimeo.com/{{ site.vimeo }}" href="//vimeo.com/{{ site.vimeo }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>
        </a>
    {% endif %}

    {% if site.lanyrd %}
        <a class="social-link" data-title="lanyrd.com/{{ site.lanyrd }}" href="//lanyrd.com/{{ site.lanyrd }}" target="_blank" rel="me noopener noreferrer">
            <svg class="icon icon-microphone"><use xlink:href="#icon-microphone"></use></svg>
        </a>
    {% endif %}

    {% if site.xmpp %}
        <a id="xlink" class="social-link" data-title="#" href="xmpp:#">
            <svg class="icon icon-xmpp"><use xlink:href="#icon-xmpp"></use></svg>
        </a>
    {% endif %}

    {% if site.email %}
        <a id="mlink" class="social-link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
        <script>
            {% include email-obs.js %}
        </script>
    {% endif %}
</div>
