{%- assign titlelist = namesep-content | split: " " -%}
{%- for word in titlelist -%}
  {%- if forloop.first -%}
    <span>{{ word }}</span>
    <span>
    {%- elsif forloop.last -%}
      {{ word }}
    {%- else -%}
      {{ word | append: ' ' }}
  {%- endif -%}
{%- endfor -%}</span>