.projects, .blog, .papers
    > .list .item  
        display: block
        position: relative
        width: 95%
        margin: 0 auto
        padding: 20px 0

        h4
            margin: 0
            font-family: $fontP
            font-weight: 400
            .title
                font-weight: 600
            .title, .coauthor
                color: $alpha
                text-decoration: none
                &:hover
                    text-decoration: underline

        .description
            margin: 0

        .atoggle
            margin-top: 0.4em //same as the icons
            display: inline
            summary
                cursor: pointer
                margin-right: 0.4em
                &:hover
                    color: $delta
