.pagination
    width: 95%
    margin: 3rem auto 0
    text-align: center

    > .page_number
        display: inline-block
        font-size: 1.3rem

    > .previous,
    > .next
        color: $alpha

    > .hidden
        visibility: hidden
