---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}?build={{ site.time | date: "%Y%m%d%H%M" }}" type="text/css">

    {%- if page.use_math -%}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" crossorigin="anonymous">
    {%- endif -%}

    {% if site.analytics-google %}
        {% include analytics-google.html %}
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1">
    
    <meta property="og:image" content="{{ site.spicture | relative_url }}">
    <meta property="og:type" content="WebSite">

    {% seo %}
    
    {% include favicon.html %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}" />

    {% for html in page.head %}
        {{ html }}
    {% endfor %}
</head>
<body>
    <div class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
        {% include nav.html %}
        {% if page.tag %}
            <div class="post">
        {% else %}
            {% if showHeader != true %}
                <div class="page {{ page.title | downcase }}">
            {% else %}
                <div class="{{ page.title | downcase }}">
            {% endif %}
        {% endif %}

        {{ content }}

        </div>
        {% include footer.html %}
    </div>

    {% include icons.html %}

</body>
</html>
