---
layout: banner-page
title: Blog
---

{%- assign EconPosts = collections.economics | flatten_pages | reverse -%}
{%- assign MathPosts = collections.math | flatten_pages | reverse -%}
{%- assign TechPosts = collections.tech | flatten_pages | reverse -%}
{%- assign OtherPosts = collections.other-posts | flatten_pages | reverse -%}

<hr>

{%- if site.posts.size == 0 -%}
  <section class="list">
    <p class="text-center">Nothing published yet!</p>
  </section>
  <hr>
{%- else -%}
  {%- if EconPosts.size > 0 -%}
    <section class="list">
      {% include "list", list-data: EconPosts, list-title: "Econ", list-class: "blog" %}
    </section>
    <hr>
  {%- endif -%}
  {%- if MathPosts.size > 0 -%}
    <section class="list">
      {% include "list", list-data: MathPosts, list-title: "Math", list-class: "blog" %}
    </section>
    <hr>
  {%- endif -%}
  {%- if TechPosts.size > 0 -%}
    <section class="list">
      {% include "list", list-data: TechPosts, list-title: "Technology", list-class: "blog" %}
    </section>
    <hr>
  {%- endif -%}
  {%- if OtherPosts.size > 0 -%}
    <section class="list">
      {% include "list", list-data: OtherPosts, list-title: "Other", list-class: "blog" %}
    </section>
    <hr>
  {%- endif -%}
{%- endif -%}

{% include "mailchimp" %}