---
layout: banner-page
title: "Home"
eleventyImport:
  collections: ["papers"]
---
<hr>
<p
  class="content">
  I'm Matthew W. Thomas, an
  <a href="https://www.ftc.gov/about-ftc/commissioners-staff/matthew-w-thomas" rel="me">Economist at the Federal Trade Commission</a>
  with a PhD in Economics from Northwestern University. My research covers a broad range of topics in microeconomic theory including auctions, robust design, discrimination, contests, and financial markets. This page is here to share my
  <a href="#research">research</a>,
  <a href="#professional">professional</a>,
  and
  <a href="#personal">personal</a>
  projects. Check out
  <a href="https://matthewandmaria.com/en/album/" rel="me">my wedding photos here</a>.
</p>
<hr>

{%- comment -%}
Combine published and accepted papers into a single "published_papers" list.
{%- endcomment -%}
{%- assign accepted_papers = collections.papers | where: "accepted" | flatten_pages | sort: "order", "last" -%}
{%- assign published_papers = collections.papers | where: "published" | flatten_pages | sort: "order", "last" | concat: accepted_papers -%}

{%- assign working_papers = collections.papers | where_not: "accepted" | where_not: "published" | flatten_pages | sort: "order", "last" -%}
{%- assign notes = collections.notes | flatten_pages -%}

<div
  id="research"
  class="anchor">
  {%- include "list", list-title: "Publications", list-class: "papers", list-data: published_papers -%}
  <hr>
  {%- include "list", list-title: "Working Papers", list-class: "papers", list-data: working_papers -%}
  <hr>
  {%- include "list", list-title: "Academic Code", list-data: projects-academic -%}
  <hr>
  {%- include "list", list-title: "Informal Notes", list-data: notes -%}
  <hr>
</div>

<div
  id="professional"
  class="anchor">
  {%- include "list", list-title: "Professional Projects", list-data: projects-professional -%}
  <hr>
</div>

<div
  id="personal"
  class="anchor">
  {%- include "list", list-title: "Personal Projects", list-data: projects-personal -%}
  <hr>
  {%- include "list", list-title: "Code Snippets", list-data: projects-gists -%}
</div>