@media print
    nav, footer, .utterances
        display: none !important

    .basic-page, header
        margin-top: 60px !important

    .topblock
        padding-bottom: 155px !important

    .list .item .atoggle

        input, label
            display: none !important

        .abstract
            display: block !important
