/*
 * general helpers
 */

.text-center
	text-align: center

.clearfix:before,
.clearfix:after
	content: ""
	display: table

.clearfix:after
	clear: both

/*
 * offset for anchor links on headers due to fixed navbar
 */

h2:target:before
	content: ""
	display: block
	height: 100px
	margin: -100px 0 0

/*
 * animations
 */

.animated
	animation: fade-in-down 0.6s
	animation-delay: 0.3s
	animation-fill-mode: both

@keyframes fade-in-down
	0%
		opacity: 0
		transform: translateY(-10px)

	100%
		opacity: 1
		transform: translateY(0)