$fontH: 'Playfair Display', serif
$fontP: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #666
$beta: #222
$gama: #aaa
$delta: #84a9c6
$epsilon: #ededed
$yellow: #fafad2

$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"