$fontH: 'Playfair Display', georgia, times, serif
$fontP: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
$fontC: "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #222
$beta: #222
$gama: #666
$delta: #42557d
$epsilon: #ededed
$yellow: #f8f4a6

$lblue: #92bcea
$hgreen: #4b644a
$claret: #840032

$notxs: "only screen and (min-width: 576px)"
$notmd: "only screen and (min-width: 800px)"