$fontH: 'Playfair Display', serif
$fontP: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #222
$beta: #222
$gama: #666
$delta: #42557d
$epsilon: #ededed
$yellow: #f8f4a6

$lblue: #92bcea
$hgreen: #4b644a
$claret: #840032


$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"